{% extends 'plantilla.html' %}
{% block content %}
  <h2>Pedidos Aprobados</h2>

  {% if pedidos %}
    <ul class="list-group">
      {% for pedido in pedidos %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Pedido #{{ pedido.id }} - Fecha: {{ pedido.fecha_creacion }}

          {% if pedido.estado == 'APROBADO' %}
                    <a href="{% url 'pagar_pedido' pedido.id %}" class="btn btn-primary btn-sm">Pagar</a>
          {% endif %}
          {% if pedido.estado == 'PAGO_CONFIRMADO' %}
            <a href="{% url 'elegir_entrega' pedido.id %}" class="btn btn-warning btn-sm">Elegir Entrega</a>
          {% endif %}
        </li>
        <li>
          <span>{{pedido.estado}}</span>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>No tienes pedidos aprobados pendientes de pago.</p>
  {% endif %}
{% endblock %}
