{% extends "plantilla.html" %}
{% load static %}

{% block links %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block content %}
<main id="form_container" class="container-fluid d-flex justify-content-center align-items-center flex-grow-1">
  <div id="container_form" class="py-3 d-flex justify-content-center align-items-center">
    <form method="post" id="form_login"
      class="w-100 d-flex flex-column justify-content-center align-items-center container gap-2">
      <div><img src="{% static 'icons/1.png' %}" alt=""> <h4 class="fw-bold">Registrate en TechTreasure</h4></div>
      {% csrf_token %}
      {{ form }}
      <button type="submit" class="btn btn-dark mt-1 bg-black">Registrarse</button>
    </form>
  </div>
</main>
<script>
  document.addEventListener('DOMContentLoaded', function () {
    var allLabels = document.querySelectorAll("label");
    var allInputs = document.querySelectorAll("input");
    allLabels.forEach(function (label) {
      label.classList.add('form-label');
    });
    allInputs.forEach(function (input) {
      input.classList.add('form-control', 'border-dark');
    });
    labelUser.classList.add('form-label');
    labelPassword.classList.add('form-label');
  });
</script>
{% endblock %}