.carousel-item {
    user-select: none;
    pointer-events: none;
}

@media (prefers-reduced-motion: reduce) {
    .carousel-item {
        transition: 0.5s all;
    }
}
#carousel{
    min-height: 80vh;   
}

#image-card {
    height: 30vh;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#cards_container {
    display: flex;
    justify-content: center;
}

@media (min-width: 1024px) {
    #card {
        flex-grow: 1;
        max-width: 23%;
    }
}

.card {
    border-radius: 47px 0px 14px 16px;
    -moz-border-radius: 47px 0px 14px 16px;
    -webkit-border-radius: 47px 0px 14px 16px;
}

#idCard{
    font-size: small;
}

#AddToCarro:hover{
    background-color: #218838 !important;
    border-color: #1e7e34 !important;
    color: #fff;
    transition: 0.5s all;

}

#cardMarca{
    font-size: small;

}


#cardDesc{
    font-size: small;
    height: 78px;
}


#categorias{
    font-size: small;
}