@media (prefers-reduced-motion: reduce) {
    .fade {
        transition: 0.2s;
    }
}

#formLogout {
    display: none;
}

#logout {
    display: none;
}

#contraseñaolvidada {
    display: none;
}

@keyframes aparecer {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


/* Aplica solo al botón renderizado de PayPal */
.paypal-button-wrapper form {
  display: inline-block;
}

.paypal-button-wrapper input[type="image"] {
  max-width: 180px;
  height: auto;
  border-radius: 0.5rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
  margin-top: 10px;
}

.paypal-button-wrapper input[type="image"]:hover {
  transform: scale(1.03);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}


main {
    animation: aparecer 0.2s;
}

nav a {
    height: 30px;
}

@keyframes mensajeAparecer {
    0% {
        top: 100%;
    }

    100% {
        top: 90%;
    }
}

@keyframes mensajeDesaparecer {
    100% {
        top: 100%;
    }

    0% {
        top: 90%;
    }
}

#mensaje {
    display: flex !important;
    animation: mensajeAparecer 0.5s;
    animation-fill-mode: forwards;
    position: fixed !important;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
}