@media (prefers-reduced-motion: reduce) {
    .fade {
        transition: 0.2s;
    }
}

#formLogout {
    display: none;
}

#logout {
    display: none;
}

#contraseñaolvidada {
    display: none;
}
@media (min-width: 768px) {
    #urlhome {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
      }
      
}

@keyframes aparecer {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
main{
animation: aparecer 0.2s;
}