@media (min-width: 768px) {
    #forms1{
        flex-direction: row !important;
    }
    #forms2{
        flex-direction: row !important ;
    }
    }

    label {
        width: 100%;
        text-align: start;
        font-weight: 500;
    }