input {
    box-shadow: none !important;
}

.correct:focus {
    border: 1.5px #00e00ff3 solid !important;
    box-shadow: 3px 3px #00e00ff3 !important;
    transition: 0.5s all;
}

.incorrect:focus {
    border: 1.5px #fc2702f3 solid !important;
    box-shadow: 3px 3px #fc2702f3 !important;
    transition: 0.5s all;
}

#SSTelPaises{
    font-size: 14px;
    width: 7em;
}
input:-internal-autofill-selected {
    appearance: menulist-button;
    background-image: none !important;
    background-color: white !important;
    color: fieldtext !important;
}
